@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');

/* Colors and Fonts */

:root {

    --text-gradient-yellow: linear-gradient(
      to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%)
    );

    --jet: hsl(0, 0%, 22%);
    --onyx: hsl(240, 1%, 17%);
    --eerie-black1: hsl(240, 2%, 13%);
    --eerie-black2: hsl(240, 2%, 12%);
    --smoky-black: hsl(0, 0%, 7%);
    --white1: hsl(0, 0%, 100%);
    --white2: hsl(0, 0%, 98%);
    --orange-yellow-crayola: hsl(37, 100%, 76%);
    --vegas-gold: hsl(45, 54%, 58%);
    --light-gray: hsl(0, 0%, 84%);
    --light-gray70: hsla(0, 0%, 84%, .7);
    --bittersweet-shimmer: hsl(0, 43%, 51%);

    --fs1: 24px;
    --fs2: 18px;
    --fs3: 17px;
    --fs4: 16px;
    --fs5: 15px;
    --fs6: 14px;
    --fs7: 13px;
    --fs8: 12px;

    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;

    --transition1: .25s ease;
    --transition2: .5s ease-in-out;
}

anonymous-pro-regular {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
}

/* Functionalities */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {text-decoration: none; }

li {list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: var(--orange-yellow-crayola);
    color: var(--smoky-black);
}

:focus { outline-color: var(--orange-yellow-crayola); }

html { font-family: "Anonymous Pro", monospace; }

body{
	margin:0;
	padding:0;
    background: url('https://www.toptal.com/designers/subtlepatterns/uploads/dark-triangles.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;

}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

.responsive {
    width: 100%;
    height: auto;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
}

.icon-box {
    position: relative;
    background: var(--border-gradient-onyx);
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: var(--orange-yellow-crayola);
    z-index: 1;
}

    .icon-box::before {
        content: "";
        position: absolute;
        inset: 1px;
        background: var(--eerie-black1);
        border-radius: inherit;
        z-index: -1;
    }

    .icon-box ion-icon { --ionicon-stroke-width: 35px; }

article { display: none; }

    article.active {
        display: block;
        animation: fade .5s ease backwards;
    }

        @keyframes fade {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

.h2, .h3, .h4, .h5 {
    color: var(--white2);
    text-transform: capitalize;
}

    .h2 { font-size: var(--fs1); }
    .h3 { font-size: var(--fs2); }
    .h4 { font-size: var(--fs4); }
    .h5 {
        font-size: var(--fs7);
        font-weight: var(--fw500);
    }

.article-title {
    position: relative;
    padding-bottom: 7px;
}

    .article-title::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: var(--text-gradient-yellow);
        border-radius: 3px;
    }

.has-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.has-scrollbar::-webkit-scrollbar-track {
    background: var(--onyx);
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--orange-yellow-crayola);
    border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 20px; }

.content-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    padding-top: 45px;
    border-radius: 14px;
    cursor: pointer;
    z-index: 1;
}

    .content-card::before {
        content: '';
        position: absolute;
        inset: 1px;
        background: var(--bg-gradient-jet);
        border-radius: inherit;
        z-index: -1;
    }

/* Sidebar customization */

.sidebar {
    margin-bottom: 15px;
    max-height: 112px;
    overflow: hidden;
    padding: 15px;
    transition: var(--transition2);
}

.sidebar-info {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.sidebar, article {
    background: var(--eerie-black2);
    border: 2px solid var(--orange-yellow-crayola);
    border-radius: 20px;
    z-index: 1;
    padding: 15px;
}

.sidebar.active { max-height: 500px; }

.sidebar.active .sidebar-info_more {
    opacity: 1;
    visibility: visible;
}

.sidebar-info_more {
    opacity: 0;
    visibility: hidden;
    transition: var(--transition2);
}

.avatar-box {
    background-image: linear-gradient(to bottom right, rgb(253, 245, 250), rgb(255, 165, 0));
    border-radius: 20px;
    outline: 3px solid seashell;
}

.info-content .name {
    color: var(--white2);
    font-size: var(--fs3);
    font-weight: var(--fw500);
    letter-spacing: -0.25px;
    margin-bottom: 10px;
}

.info-content .title {
    color: var(--white1);
    background: var(--onyx);
    font-size: var(--fs8);
    font-weight: var(--fw300);
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
}

.info_more-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: var(--orange-yellow-crayola);
    background: var(--border-gradient-onyx);
    padding: 10px;
    transition: var(--transition1);
    z-index: 1;
}

.info_more-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition1);
    z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus { background: var(--bg-gradient-yellow1); }

.info_more-btn:hover::before,
.info_more-btn:focus::before { background: var(--bg-gradient-yellow2); }

.info_more-btn span { display: none; }

.contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contact-item {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
}

.contact-info :is(.contact-link, time, address) {
    color: var(--white2);
    font-size: var(--fs7);
}

.contact-info address { font-style: normal; }

.contact-title {
    color: var(--light-gray70);
    text-transform: uppercase;
    margin-bottom: 2px;
}

.social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
}

.social-item .social-link {
    color: var(--light-gray70);
    font-size: 18px;
}

.social-item .social-link:hover { color: var(--light-gray); }

/* Navigation bar*/

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, .75);
    backdrop-filter: blur(10px);
    border: 1px solid var(--orange-yellow-crayola);
    border-radius: 12px 12px 0 0;
    z-index: 5;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.navbar-link {
    color: var(--light-gray);
    font-size: var(--fs8);
    padding: 20px 7px;
    transition: color var(--transition1);
}

.navbar-link:hover, .navbar-link:focus { color: var(--light-gray70); }
.navbar-link.active { color: var(--orange-yellow-crayola); }

/* About section*/

.about .article-title {
    margin-bottom: 15px;
    margin-top: 15px;
}

.about-text {
    color: var(--light-gray);
    font-size: var(--fs6);
    font-weight: var(--fw300);
    line-height: 1.6;
}

.about-text p {
    margin-bottom: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.about-text p1 {
    margin-bottom: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
    color: navajowhite;
}

/* Resume Section*/

.resume .article-title {
    margin-bottom: 15px;
    margin-top: 15px;
}
.resume-text {
    color: var(--light-gray);
    font-size: var(--fs6);
    font-weight: var(--fw300);
    line-height: 1.6;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

.resume-text p {
    margin-bottom: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

/* Certification Section */

.certification-text {
    color: var(--light-gray);
    font-size: var(--fs6);
    font-weight: var(--fw300);
    line-height: 1.6;
}

.certification-text p {
    margin-bottom: 15px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

/*MEDIA QUERIES*/


@media (min-width: 580px) {
    :root {
        --fs1: 32px;
        --fs2: 24px;
        --fs3: 26px;
        --fs4: 18px;
        --fs6: 15px;
        --fs7: 15px;
        --fs8: 12px;
    }

    .sidebar, article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }

    .article-title {
        font-weight: var(--fw600);
        padding-bottom: 15px;
        position: relative;
    }

    .article-title::after {
        width: 40px;
        height: 5px;
    }

    .icon-box {
        width: 80px;
        height: 50px;
        border-radius: 12px;
        font-size: 18px;
        margin-left: 120px;
    }

    main {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .sidebar {
        max-height: 180px;
        margin-bottom: 30px;
    }

    .sidebar.active { max-height: 584px; }

    .sidebar-info { gap: 25px; }

    .avatar-box { border-radius: 300px; }
    .avatar-box img { width: 120px; }

    .info-content .name { margin-bottom: 15px; }
    .info-content .title { padding: 5px 10px; }

    .info_more-btn {
        top: -30px;
        right: -30px;
        padding: 10px 15px;
    }

    .info_more-btn span {
        display: block;
        font-size: var(--fs8);
    }

    .info_more-btn ion-icon { display: none; }

    .separator { margin: 32px 0; }

    .contacts-list { gap: 20px; }

    .contact-info {
        max-width: calc(100% - 64px);
        width: calc(100% - 64px);
    }

    .navbar { border-radius: 20px 20px 0 0; }

    .navbar-list { gap: 20px; }
    .navbar-link { --fs8: 14px; }

    .about .article-title { margin-bottom: 20px; }
    .about-text { margin-bottom: 40px; }
}

@media (min-width: 768px) {

    .sidebar, article { width: 700px; }

    .has-scrollbar::-webkit-scrollbar-button { width: 100px; }

    .contacts-list {
        grid-template-columns: 1fr 1fr;
        gap: 30px 15px;
    }

    .navbar-link { --fs8: 15px; }
}

@media (min-width: 1024px) {

    :root {
        --shadow1: -4px 8px 24px hsla(0, 0%, 0%, .125);
        --shadow2: 0px 16px 30px hsla(0, 0%, 0%, .125);
        --shadow3: 0px 16px 40px hsla(0, 0%, 0%, .125);
    }

    .sidebar, article {
        width: 950px;
    }

    main { margin-bottom: 60px; }

    .main-content {
        position: relative;
        width: max-content;
        margin: auto;
    }

    .navbar {
        position: absolute;
        bottom: auto;
        top: 0;
        left: auto;
        right: 0;
        width: max-content;
        border-radius: 0 20px;
        padding: 0 20px;
    }

    .navbar-list {
        gap: 30px;
        padding: 0 20px;
    }

    .navbar-link { font-weight: var(--fw500); }
}

@media (min-width: 1250px) {

    body::-webkit-scrollbar { width: 20px; }
    body::-webkit-scrollbar-track { background: var(--smoky-black); }

    body::-webkit-scrollbar-thumb {
        border: 5px solid var(--smoky-black);
        background: hsla(0, 0%, 100%, .1);
        border-radius: 20px;
    }

    body::-webkit-scrollbar-thumb:hover { background: hsla(0, 0%, 100%, .15); }
    body::-webkit-scrollbar-button { height: 60px; }

    .sidebar, article { width: auto; }

    article { min-height: 100%; }

    main {
        max-width: 1000px;
        margin-inline: auto;
        display: block;
        justify-content: center;
        align-items: stretch;
    }

    .main-content {
        min-width: 100%;
        width: 75%;
        margin: 0;
    }

    .sidebar {
        position: static;
        top: 60px;
        max-height: max-content;
        height: 10%;
        margin-bottom: 0;
        padding-top: 60px;
        z-index: 1;
    }

    .sidebar-info { flex-direction: column; }

    .avatar-box img { width: 150px; }

    .info-content .name {
        white-space: nowrap;
        text-align: center;
    }

    .info-content .title { margin: auto; }

    .info_more-btn { display: none; }

    .sidebar-info_more {
        opacity: 1;
        visibility: visible;
    }
    .contact-info :is(.contact-link) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .contact-info :is(.contact-link, time, address) {
        --fs7: 14px;
        font-weight: var(--fw300);
    }

    .separator:last-of-type {
        margin: 15px 0;
        opacity: 0;
    }

    .social-list { justify-content: center; }

    .timeline-text { max-width: 700px; }
}
